<div class="imageRow">
<img src="/images/beer.png" id="beerMug" alt="beer mug"/>
</div>
<div class="fbuttonrow" >
    <div class="button">
   <a class="buttonOne" href="/beers">Check The Beers!</a>
    </div>
</div>
<div class="sbuttonrow" >
     <div class="button">
   <a class="buttonTwo" href="/random-beers">Check a Random Beer!</a>
    </div>
</div>
